<% content_for :title, @user['name'] %>
<h5 class="mb-1">
  Hello there <%= @user['name'] %>
</h5>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="card col-sm-4" style="overflow:scroll;">
      <ul class="list-group list-group-flush">
        <% @users.each do |user| %>
          <li class="list-group-item user-select <%= user == @users[0] ? 'bg-info' : 'bg-light' %>" id="<%= user[1] %>" name='user-select'>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= user[0] %></h5>
            </div>
          </li>
        <% end %>
      </ul>
    </div>


    <div class="col-sm-8">
      <div class="chatbody">

        <table class="table">
          <tr>
            <td></td>
          </tr>
        </table>
        <div id="messages" class="messages">
          Messages loading...
        </div>
      </div>

      <div class="row col-sm-8">
        <%= form_for :message, remote: true do |f| %>
          <div class="col-xs-9">
            Message : <%= f.text_area :text, class: "form-control" %><br/>
          </div>
          <div class="col-xs-3 capitalize">
            <%= button_tag "Send Message", :type => 'button', :onclick => "javascript:sendMessage()", class: "btn btn-info btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= tag("div", id: 'user-id', :data => { :name => @user['name'], :id => @user['uid'] }) %>
<% javascript_include_tag 'show', :cache => 'myfiles' %>
<script type="text/javascript" src="https://unpkg.com/@cometchat-pro/chat/CometChat.js"></script>
<script type="text/javascript" src="https://unpkg.com/@cometchat-pulse/cometchat-pulse.js/CometChat.js"></script>
<script type="text/javascript">
    document.addEventListener('turbolinks:load', () => setTimeout(initializeChat, 250));
</script>
